.nav_item{
    padding: 0 20px;
    height: 88px;
    line-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #e6e6e6 solid 1px;
    .nav-icon{
        width: 44px;
        height: 44px;
    }
}