.no_data{
    width: 100%;
    text-align: center;
    margin-top: 230px;
    image{
        width: 205px;
        height: 128px;
        display: block;
        margin: 60px auto;
    }
    text{
        font-size: 30px;
        color: #999;
    }
}