.balance_item {
    width: 730px;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px 20px;
    box-sizing: border-box;
    text{
        line-height: 1.68;
    }
}